.venv*

*.pyc
__pycache__/

instance/

.python-version
.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

*.gz
alns/Sereb+SILVA_AllArch.fasta
alns/taxmap_slv_lsu_parc_138.1.txt
alns/taxmap_slv_lsu_ref_138.1.txt
